.nav {
    width: 100%;
    padding: 10px 0px;
    background-color: #2a2828;
    text-align: center;
    border-top: 2px solid #4d4c4a;
    border-bottom: 2px solid #4d4c4a;
    position: sticky;
    overflow: hidden;
    top: 0;
}

.nav a {
    overflow-wrap: break-word;
    max-font-size: 10%;
    font-size: 2vw;
    text-decoration: none;
    height: 100%;
    width: 20%;
    line-height: 200%;
    color: lightgray;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 2px dashed;
}
.nav a:hover:not(.icon) {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    transition: 0.6s ease;
}
.nav a.active {
    background-color: #797777;
}
.nav .icon {
    display: none;
}



@media screen and (max-width: 700px) {
    .nav a.icon {
        float: right;
        display: block;
        width: 30px;
        height: 20px;
        border: none;
        margin-right: 10px;
    }
    .nav a {
        float: left;
        margin-left: 10px;
        border-left: 2px dashed white;
    }
    .nav a:not(.icon, .active){
        display: none;
    }
    .nav a .active {
        position: absolute;
        float: left;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 700px) {
    .nav.responsive {
        position: sticky;
    }
    .nav.responsive .icon {
        position: absolute;
        float: right;
        right: 0;
        top: 10px;
    }
    .nav.responsive a {
        float: none;
        display: block;
    }
    .nav.responsive a:active {
        float: left;
        display: block;
    }
}